@{
    ViewBag.Title = "sweetiedash";
}

<div class="jumbotron">
    <h1>sweetiebot dashboard</h1>
    <p class="lead">[@ViewBag.Model.total total messages processed]</p>
    <p><a href="@ViewBag.Target">raw data</a></p>
</div>

<div class="row panel">
    <div class="col-md-12 panel-default panel-body" style="height:200px; overflow-y:scroll">
        <table class="table">
            @foreach (string s in ViewBag.Model.tail)
            {
                @:
                <tr><td>@s</td></tr>
            }
        </table>

    </div>
</div>